<%= form_for(@review, :url => "/place/#{@place.id}", :method => :post, :remote => true) do |form| %>
<% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
            <% @review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
  <table>    
    <tr class="field">
      <td><%= form.label :ratings %></td>
      <td><%= form.select :ratings, Review::RATINGS %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :subject %></td>
      <td><%= form.text_field :subject %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :description %></td>
      <td><%= form.text_area :description, :rows => 10 %></td>
    </tr>
    <tr class="action">
      <td></td>
      <td><%= form.submit 'Submit' %></td>
    </tr>
  </table>
<% end %>