<div id = "reviews-div">
  <table class = "display-reviews">
   	<% @reviews.each do |review| %>
      <tr class = "<%= cycle("odd_review_row", "even_review_row") %> selected-reviews" >
        <td><%= 'Ratings : ' %><%= review.ratings %></td>
        <td><%= 'Review : ' %><%= review.subject %></td>
        <td><%= 'Description : ' %><%= review.description %></td>
      </tr>
    <% end %>
  </table>
</div>