<%= form_for @price do |form| %>

  <div class="field">
    <%= form.label :daily %><br />
    <%= form.text_field :daily %>
  </div>
  <div class="field">
    <%= form.label :weekend %><br />
    <%= form.text_field :weekend %>
  </div>
  <div class="field">
    <%= form.label :weekly %><br />
    <%= form.text_field :weekly %>
  </div>
  <div class="field">
    <%= form.label :monthly %><br />
    <%= form.text_field :monthly %>
  </div>
  <div class="field">
    <%= form.label :max_guests %><br />
    <%= form.number_field :max_guests %>
  </div>
  <div class="field">
    <%= form.label :add_guests %><br />
    <%= form.number_field :add_guests %>
  </div>
  <div class="field">
    <%= form.label :add_price %><br />
    <%= form.text_field :add_price %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
