<%= form_for @price do |form| %>
  <table>
    <tr class="field">
      <td><%= form.label :daily %></td>
      <td><%= form.text_field :daily %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :weekend %></td>
      <td><%= form.text_field :weekend %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :weekly %></td>
      <td><%= form.text_field :weekly %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :monthly %></td>
      <td><%= form.text_field :monthly %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :max_guests %></td>
      <td><%= form.number_field :max_guests %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :add_guests %></td>
      <td><%= form.number_field :add_guests %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :add_price %></td>
      <td><%= form.text_field :add_price %></td>
    </tr>
    <tr class="actions">
      <td></td>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
