<%= form_for @price, :url => {:action => 'create', :controller => 'price' } do |f| %>

  <div class="field">
    <%= f.label :daily %><br />
    <%= f.text_field :daily %>
  </div>
  <div class="field">
    <%= f.label :weekend %><br />
    <%= f.text_field :weekend %>
  </div>
  <div class="field">
    <%= f.label :weekly %><br />
    <%= f.text_field :weekly %>
  </div>
  <div class="field">
    <%= f.label :monthly %><br />
    <%= f.text_field :monthly %>
  </div>
  <div class="field">
    <%= f.label :max_guests %><br />
    <%= f.number_field :max_guests %>
  </div>
  <div class="field">
    <%= f.label :add_guests %><br />
    <%= f.number_field :add_guests %>
  </div>
  <div class="field">
    <%= f.label :add_price %><br />
    <%= f.text_field :add_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
