
<table>
  <tr class="field">
    <td><%= "daily:" %></td>
    <td><%= @price.daily %></td>
  </tr>
  <tr class="field">
    <td><%= "weekend:" %></td>
    <td><%= @price.weekend %></td>
  </tr>
  <tr class="field">
    <td><%= "weekly:" %></td>
    <td><%= @price.weekly %></td>
  </tr>
  <tr class="field">
    <td><%= "monthly:" %></td>
    <td><%= @price.monthly %></td>
  </tr>
  <tr class="field">
    <td><%= "max_guests" %></td>
    <td><%= @price.max_guests %></td>
  </tr>
  <tr class="field">
    <td><%= "add_guests:" %></td>
    <td><%= @price.add_guests %></td>
  </tr>
  <tr class="field">
    <td><%= "add_price:" %></td>
    <td><%= @price.add_price %></td>
  </tr>
</table>

 <% if(session[:user_id] && session[:user_id] == @price.place.user_id) %>
    <%= link_to 'Edit', edit_place_path(@price.id) %>
  <% else %>
    <% session[:place_id] = @price.place.id %>
    <%= button_to 'Request Place', deal_new_path, :method => :get %> 
  <% end %>
