

  <table>
    <tr class="field">
      <td><%= form.label 'Address Line 1 *' %></td>
      <td><%= form.text_field :address_line1 %></td>
    </tr>
    <tr class="field">
      <td><%= form.label 'Address Line 2 *' %></td>
      <td><%= form.text_field :address_line2 %></td>
    </tr>
    <tr class="field">
      <td><%= form.label 'City *' %></td>
      <td><%= form.text_field :city %></td>
    </tr>
    <tr class="field">
      <td><%= form.label 'State *' %></td>
      <td><%= form.text_field :state %></td>
    </tr>
    <tr class="field">
      <td><%= form.label 'Pincode *' %></td>
      <td><%= form.number_field :pincode %></td>
    </tr>
    <tr class="field">
      <td><%= form.label 'Country *' %></td>
      <td><%= form.country_select :country %></td>
    </tr>
  </table>
