
  <table>
    <tr class="field">
      <td><%= "Address Line 1:" %></td>
      <td><%= @address.address_line1 %></td>
    </tr>
    <tr class="field">
      <td><%= "Address Line 2:" %></td>
      <td><%= @address.address_line2 %></td>
    </tr>
    <tr class="field">
      <td><%= "City:" %></td>
      <td><%= @address.city %></td>
    </tr>
    <tr class="field">
      <td><%= "bed_type:" %></td>
      <td><%= @address.state %></td>
    </tr>
    <tr class="field">
      <td><%= "bathrooms:" %></td>
      <td><%= @address.pincode %></td>
    </tr>
    <tr class="field">
      <td><%= "size:" %></td>
      <td><%= @address.country %></td>
    </tr>
  </table>