<%= form_tag('/display/show', :method => :post, :remote => :true) %>
<table class = "search-options">
  <tr>
    <td><%= text_field_tag :city, nil, :placeholder => 'city' %></td>
    <td><%= text_field_tag :country, nil, :placeholder => 'country' %></td>
    <td><%= 'Property type : ' %><%= select_tag(:property_type, options_for_select(Place::PROPERTY_TYPE)) %></td>
    <td><%= 'Room Type : ' %><%= select_tag(:room_type, options_for_select(Place::ROOM_TYPE)) %></td>
    <td><%= text_field_tag :guests %></td>
    <td><%= submit_tag :Search %></td>
  </tr>
</table>