
  <table class = "display-users">
  	<% @users.each do |user| %>
   	  <tr class = "<%= cycle("odd_user_row", "even_user_row") %> selected-user" >
        <td class = "left-cell">
          <% if(user.avatar.exists?) %>
            <%= image_tag user.avatar.url(:thumb), :class => "user_pic" %>
          <% else %>
            <%= image_tag 'missing.png', :class => "user_pic", :height => "150px", :width => "150px" %>
          <% end %>
        </td>
        <td class = "mid-cell">
          <p class = "Name"><%= user.first_name " " + user.last_name || "" %><p>
          <p class = "wallet">&#8377;<%= user.wallet.round(2) %></p>
          <p class = "Email Id"><%= user.email %></p>
        </td>
        <td class = "right-cell">
          <%= form_tag(wallet_user_path(user.id)) do %>
            <%= text_field_tag :amount %>
            <%= submit_tag 'Add'  %>
            <%= submit_tag 'Subtract' %>
          <% end %>
          <% if(user.admin != true) %>
            <% if(user.activated == false) %>
              <%= link_to 'Activate', user_activate_path('active', user.id) %>
            <% else %>
              <%= link_to 'Deactivate', user_activate_path('deactive', user.id) %>
            <% end %>
            <%= link_to 'Delete', user_path(user.id), :method => :delete %>
          <% end %>
        </td>
  	  </tr>
     <% end %>
  </table>
  