<table class = "display-deals">
  	<% @deals.each do |deal| %>
   	  <tr class = "<%= cycle("odd_deal_row", "even_deal_row") %> selected-deal" >
        <td class = "left-cell">
          <% if(deal.place) %>
            <%= image_tag deal.place.photos.first.avatar(:medium), :class => "user_pic", :height => '100px', :width => '95%' %>
          <% end %>
        </td>
        <td class = "mid-cell">
          <% if(deal.user) %>
            <p class = "Name">Visitor Name : <%= deal.user.first_name + " " + deal.user.last_name %></a><p>
          <% end %>
          <% if(deal.place && deal.place.user) %>
            <p class = "Name">Owner Name : <%= deal.place.user.first_name + " " + deal.place.user.last_name %></a><p>
            <p class = "address">Place Location : <%= deal.place.title + ", " + deal.place.address.city + ", " + deal.place.address.country %></a><p>
          <% end %>
          <p class = "price">Price : &#8377;<%= deal.price %>
        </td>
        <td class = "right-cell">
          <% if(deal.end_date < Date.current and deal.complete == false) %>
            <%= link_to "Transfer #{(deal.price * 0.9).round(2)} to owner", deal_complete_path(deal.id), :method => :post %>
          <% end %>
        </td>
  	  </tr>
     <% end %>
  </table>
  