  
    <table class = "display-places">
    	<% @places.each do |place| %>
    	  <tr class = "<%= cycle("odd_place_row", "even_place_row") %> selected-place" >
          <td class = "left-cell">
            <%= image_tag place.photos.first.avatar.url(:medium), :class => "place_pic" %>
          </td>
          <td class = "mid-cell">
    	  	  <p class = "title"><a href ="<%= place_path(place.id) %>"><%= place.title %></a><p>
    	  	  <p class = "property-type"><%= place.property_type_string + " - " + place.room_type_string %></p>
            <p class = "property-price">Daily : &#8377;<%=  place.daily_price.to_s %> - Weekend : &#8377;<%= place.weekend_price.to_s %> - Weekly : &#8377;<%= place.weekly_price.to_s %></p>
            <p class = "tags"><%= place.tags_string %></p>
          </td>
          <td class = "last-cell">
          <% if(session[:admin] == true) %>
            Owner :<%= place.user.first_name %><br />
            Email :<%= place.user.email %><br />
            <%= link_to 'Delete', place_path(place.id), :method => :delete %>
            <% if(place.verified == false) %>
              <%= link_to 'Activate', activate_place_path('active', place.id) %>
            <% else %>
              <%= link_to 'Deactivate', activate_place_path('deactive', place.id) %>
            <% end %>
          <% end %>
        </td>
    	  </tr>
      <% end %>
    </table>