
  <table>
    <tr class="field">
      <td><%= form.label "Accomodtion *" %></td>
      <td><%= form.text_field :accomodation %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :bedrooms %></td>
      <td><%= form.number_field :bedrooms %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :beds %></td>
      <td><%= form.number_field :beds %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :bed_type %></td>
      <td><%= form.text_field :bed_type %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :bathrooms %></td>
      <td><%= form.number_field :bathrooms %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :size %></td>
      <td><%= form.text_field :size %></td>
      <td><%= form.select :unit_string, Detail::UNITS.keys %>
    </tr>
    <tr class="field">
      <td><%= form.label :pets %></td>
      <td><%= form.check_box :pets %></td>
    </tr>
  </table>