<%= form_for @detail, :url => {:action => 'create', :controller => 'detail' } do |f| %>

  <div class="field">
    <%= f.label :accomodation %><br />
    <%= f.text_field :accomodation %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :beds %><br />
    <%= f.number_field :beds %>
  </div>
  <div class="field">
    <%= f.label :bed_type %><br />
    <%= f.text_field :bed_type %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br />
    <%= f.number_field :bathrooms %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :pets %><br />
    <%= f.check_box :pets %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
