
  <table>
    <tr class="field">
      <td><%= "Accomodation:" %></td>
      <td><%= @detail.accomodation %></td>
    </tr>
    <tr class="field">
      <td><%= "bedrooms:" %></td>
      <td><%= @detail.bedrooms %></td>
    </tr>
    <tr class="field">
      <td><%= "beds:" %></td>
      <td><%= @detail.beds %></td>
    </tr>
    <tr class="field">
      <td><%= "bed_type:" %></td>
      <td><%= @detail.bed_type %></td>
    </tr>
    <tr class="field">
      <td><%= "bathrooms:" %></td>
      <td><%= @detail.bathrooms %></td>
    </tr>
    <tr class="field">
      <td><%= "size:" %></td>
      <td><%= @detail.size %></td>
    </tr>
    <tr class="field">
      <td><%= "unit:" %></td>
      <td><%= @detail.units_string %></td>
    </tr>
    <tr class="field">
      <td><%= "pets:" %></td>
      <td><%= @detail.pets %></td>
    </tr>
  S.keys(</table>)