<div class = "outer-user-info">
  <%= render 'form' %>

  <div class = "user-info">
      <%= form_for(@user, :url => update_password_user_path(@user.id), :method => :put) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
        <table>
          <tr class="field">
            <td><%= 'Old Password:' %></td>
            <td><%= password_field_tag :old_password %></td>
          </tr>
          <tr class="field">
            <td><%= 'New Password:' %></td>
            <td><%= form.password_field :password %></td>
          </tr>
          <tr class="field">
            <td><%= 'Password Confirm:' %></td>
            <td><%= form.password_field :password_confirmation %></td>
          </tr>
          <tr class="actions">
            <td></td>
            <td><%= form.submit("Change Password") %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>