
<div class = "outer-user-info">
  
  <%= render 'form' %>
  
  <div class = "user-info">

    <% @trips.each do |trip| %>
      <table>
        <tr class="field">
          <td><%= "Start date:" %></td>
          <td><%= trip.start_date %></td>
        </tr>
        <tr class="field">
          <td><%= "End date:" %></td>
          <td><%= trip.end_date %></td>
        </tr>
        <tr class="field">
          <td><%= "price:" %></td>
          <td>&#8377;<%= (trip.price*1.1).round(2) %>(inlusive tutubnb commission)</td>
        </tr>
        <tr class="field">
          <td><%= "User Name:" %></td>
          <% if(trip.user) %>
            <td><%= trip.user.first_name + " " + trip.user.last_name %></td>
          <% else %>
            <td><%= "The user has deleted his account." %></td>
          <% end %>
        </tr>
        <tr class="field">
          <td><%= "Place Name:" %></td>
          <% if(trip.place && trip.place.verified && (trip.place.hidden == false)) %>
            <td><%= link_to(trip.place.title, place_path(trip.place.id)) %></td>
          <% elsif(trip.place.nil?) %>
            <td><%= "The place has been deleted" %></td>
          <% else %>
            <td><%= trip.place.title %></td>
          <% end %>
          
        </tr>
        <tr class="field">
          <p>The deal was
          <% if(trip.state == 1) %>
            <%= 'accepted' %>
          <% elsif(trip.state == 2) %>
            <%= 'rejected' %>
          <% end %></p>
        </tr>
      </table>
    <% end %>

    <%= will_paginate @trips %>

    <% if(@trips.empty?) %>
      <%= render :text => "No trips as of now." %>
    <% end %>
  </div>
</div>