<div class = "user-info">
    <%= form_tag(user_update_password(@user.id), :method => :post) do %>
      <table>
        <tr class="field">
          <td><%= Old Password: %></td>
          <td><%= password_field_tag :old_password %></td>
        </tr>
        <tr class="field">
          <td><%= New Password: %></td>
          <td><%= password_field_tag :password %></td>
        </tr>
        <tr class="field">
          <td><%= Password Confirm: %></td>
          <td><%= password_field_tag :password_confirmation %></td>
        </tr>
        <tr class="field">
          <td><%= form.label 'Where you Live', :for => :user_live %></td>
          <td><%= form.text_field :live %></td>
        </tr>
        <tr class="actions">
          <td></td>
          <td><%= form.submit("Save User") %></td>
        </tr>
      </table>
    <% end %>
  </div>