  <div class = "outer-user-info">
    <%= render 'form' %>
  
    <table class = "display-places">
    	<% @places.each do |place| %>
    	  <tr class = "<%= cycle("odd_place_row", "even_place_row") %> selected-place" >
          <td class = "left-cell">
            <% unless(place.photos.empty?) %>
              <%= image_tag place.photos.first.avatar(:medium), :class => "place_pic" %>
            <% end %>
          </td>
          <td class = "mid-cell">
    	  	  <p class = "title"><a href ="<%= place_path(place.id) %>"><%= place.title %></a><p>
    	  	  <p class = "property-type"><%= place.property_type + " - " + place.room_type %></p>
            <p class = "property-price">Daily : &#8377;<%=  place.daily.to_s %> - Weekend : &#8377;<%= place.weekend.to_s %> - Weekly : &#8377;<%= place.weekly.to_s %></p>
            <p class = "tags"><%= place.tags_string %></p>
          </td>
          <td class = "last-cell">
            <%= link_to 'Delete', place_path(place.id), :method => :delete %>
            <% if(place.valid? and place.hidden == true) %>
              <%= link_to 'Show', operation_place_path('show', place.id) %>
            <% elsif(place.valid? and place.hidden == false) %>
              <%= link_to 'Hide', operation_place_path('hide', place.id) %>
            <% end %>
        </td>
    	  </tr>
      <% end %>
    </table>
  </div>