
<div class = "outer-user-info">
  
  <%= render 'form' %>
  
  <div class = "user-info">

    <% @requested_trips.each do |requested_trip| %>
      <table>
        <tr class="field">
          <td><%= "Start date:" %></td>
          <td><%= requested_trip.start_date %></td>
        </tr>
        <tr class="field">
          <td><%= "End date:" %></td>
          <td><%= requested_trip.end_date %></td>
        </tr>
        <tr class="field">
          <td><%= "price:" %></td>
          <td>&#8377;<%= requested_trip.price %></td>
        </tr>
        <tr class="field">
          <td><%= "User Name:" %></td>
          <td><%= requested_trip.user.first_name + " " + requested_trip.user.last_name %></td>
        </tr>
        <tr class="field">
          <td><%= "Place Name:" %></td>
          <td><%= requested_trip.place.title %></td>
        </tr>
        <tr class="action">
          <td><%= button_to('Reject', deal_reply_path(:reject, requested_trip.id), :method => :get) %></td>
        </tr>
      </table>
    <% end %>
    <% if(@requested_trips.empty?) %>
      <%= render :text => "No trips are requested as of now." %>
    <% end %>
  </div>
</div>