
<div class = "outer-user-info">
  
  <%= render 'form' %>

  <div class = "user-info">
    <% @requests.each do |request| %>
      <table>
        <tr class="field">
          <td><%= "start_date:" %></td>
          <td><%= request.start_date %></td>
        </tr>
        <tr class="field">
          <td><%= "end_date:" %></td>
          <td><%= request.end_date %></td>
        </tr>
        <tr class="field">
          <td><%= "price:" %></td>
          <td>&#8377;<%= (request.price*0.9).round(2) %>(after reducing 10% commission)</td>
        </tr>
        <tr class="field">
          <td><%= "User Name:" %></td>
          <% if(request.user) %>
            <td><%= request.user.first_name + " " + request.user.last_name %></td>
          <% else %>
            <td><%= "The user has deleted his account." %></td>
          <% end %>
        </tr>
        <tr class="field">
          <td><%= "Place Name:" %></td>
          <% if(request.place && request.place.verified && (request.place.hidden == false)) %>
            <td><%= link_to(request.place.title, place_path(request.place.id)) %></td>
          <% elsif(request.place.nil?) %>
            <td><%= The place has been deleted %></td>
          <% else %>
            <td><%= request.place.title %></td>
          <% end %>
        </tr>
        <tr class="action">
          <td><%= button_to('Accept', deal_reply_path(:accept, request.id), :method => :get) %></td>
          <td><%= button_to('Reject', deal_reply_path(:reject, request.id), :method => :get) %></td>
        </tr>
      </table>
    <% end %>
    <% if(@requests.empty?) %>
      <%= render :text => "No requests as of now." %>
    <% end %>
  </div>
</div>