
<div class = "outer-user-info">
  
  <%= render 'form' %>
  
  <div class = "user-info">

    <% @trips.each do |trip| %>
      <table>
        <tr class="field">
          <td><%= "Start date:" %></td>
          <td><%= trip.start_date %></td>
        </tr>
        <tr class="field">
          <td><%= "End date:" %></td>
          <td><%= trip.end_date %></td>
        </tr>
        <tr class="field">
          <td><%= "price:" %></td>
          <td>&#8377;<%= trip.price %></td>
        </tr>
        <tr class="field">
          <td><%= "User Name:" %></td>
          <td><%= trip.user.first_name + " " + trip.user.last_name %></td>
        </tr>
        <tr class="field">
          <td><%= "Place Name:" %></td>
          <td><%= trip.place.title %></td>
        </tr>
      </table>
    <% end %>
    <% if(@trips.empty?) %>
      <%= render :text => "No trips as of now." %>
    <% end %>
  </div>
</div>