
<% if(notice) %>
  <div class = "notice"><%= notice %></div>
<% end %>


<div class = "outer-user-info">
  
  <%= render 'form' %>

  <div class = "user-info">
    <% @visits.each do |visit| %>
      <table>
        <tr class="field">
          <td><%= "Start date:" %></td>
          <td><%= visit.start_date %></td>
        </tr>
        <tr class="field">
          <td><%= "End date:" %></td>
          <td><%= visit.end_date %></td>
        </tr>
        <tr class="field">
          <td><%= "Price:" %></td>
          <td>&8377;<%= visit.price %></td>
        </tr>
        <tr class="field">
          <td><%= "User Name:" %></td>
          <td><%= visit.user_id %></td>
        </tr>
        <tr class="field">
          <td><%= "Place Name:" %></td>
          <td><%= visit.place_id %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>