      <table>
        <tr class="field">
          <td><%= "Title:" %></td>
          <td><%= @place.title %></td>
        </tr>
        <tr class="field">
          <td><%= "Description:" %></td>
          <td><%= @place.description %></td>
        </tr>
        <tr class="field">
          <td><%= "Property Type:" %></td>
          <td><%= @place.property_type %></td>
        </tr>
        <tr class="field">
          <td><%= "Room Type:" %></td>
          <td><%= @place.room_type %></td>
        </tr>
      </table>