
<%= form_for @place do |f| %>
  <table>
    <tr class="field">
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :property_type %></td>
      <td><%= f.text_field :property_type %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :room_type %></td>
      <td><%= f.text_field :room_type %></td>
    </tr>
    <tr class="actions">
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
