<div class="place-info">
  <%= form_for(@place, :html => { :multipart => true }) do |form| %>
    <% if @place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@place.errors.count, "error") %>prohibited this product from being saved:</h2>
          <ul>
            <% @place.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    
    <p><a name = "description">Description</a></p>
    <table>    
      <tr class="field">
        <td><%= form.label :title %></td>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :description %></td>
        <td><%= form.text_area :description, :rows => 10 %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :property_type %></td>
        <td><%= form.select :property_type, Place::PROPERTY_TYPE, prompt: "Select Property Type" %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :room_type %></td>
        <td><%= form.select :room_type, Place::ROOM_TYPE, prompt: "Select Room Type" %></td>
      </tr>
    </table>

    <p><a name = "prices">Prices</a></p>
    <table>
      <tr class="field">
        <td><%= form.label :daily %></td>
        <td><%= form.text_field :daily %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :weekend %></td>
        <td><%= form.text_field :weekend %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :weekly %></td>
        <td><%= form.text_field :weekly %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :monthly %></td>
        <td><%= form.text_field :monthly %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :add_guests %></td>
        <td><%= form.number_field :add_guests %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :add_price %></td>
        <td><%= form.text_field :add_price %></td>
      </tr>
    </table>

    <p><a name = "images">Images</a></p>
    <%= form.fields_for :photos do |builder| %>
      <%= render :template => 'photo/upload.html.erb', :locals => { :form => builder } %>
    <% end %>

    
    <p><a name = "details">Details (Optional)</a></p>
    <%= form.fields_for :detail do |builder| %>
      <%= render :template => 'detail/_form.html.erb', :locals => { :form => builder } %>
    <% end %>
    
    <p><a name = "address">Address</a></p>
    <%= form.fields_for :address do |builder| %>
      <%= render :template => 'address/_form.html.erb', :locals => { :form => builder } %>
    <% end %>
    
    <table>
      <tr class="actions">
        <td><%= form.submit 'Save Place'%></td>
        <td><%= form.submit 'Create Place'%></td>
      </tr>
    </table>
  <% end %>
</div>