
<table>
  <tr class="field">
    <td><%= "daily:" %></td>
    <td><%= @place.daily %></td>
  </tr>
  <tr class="field">
    <td><%= "weekend:" %></td>
    <td><%= @place.weekend %></td>
  </tr>
  <tr class="field">
    <td><%= "weekly:" %></td>
    <td><%= @place.weekly %></td>
  </tr>
  <tr class="field">
    <td><%= "monthly:" %></td>
    <td><%= @place.monthly %></td>
  </tr>
  <tr class="field">
    <td><%= "add_guests:" %></td>
    <td><%= @place.add_guests %></td>
  </tr>
  <tr class="field">
    <td><%= "add_price:" %></td>
    <td><%= @place.add_price %></td>
  </tr>
</table>