
  <table>
    <tr class="field">
      <td><%= "title:" %></td>
      <td><%= @place.title %></td>
    </tr>
    <tr class="field">
      <td><%= "description:" %></td>
      <td><%= @place.description %></td>
    </tr>
    <tr class="field">
      <td><%= "property_type:" %></td>
      <td><%= @place.property_type %></td>
    </tr>
    <tr class="field">
      <td><%= "room_type:" %></td>
      <td><%= @place.room_type %></td>
    </tr>
  </table>

  <% if(session[:user_id] && session[:user_id] == @place.user_id) %>
    <%= link_to 'Edit', edit_place_path(@place.id) %>
  <% else %>
    <% session[:place_id] = @place.id %>
    <%= button_to 'Request Place', deal_new_path, :method => :get %> 
  <% end %>
