
  <table>
    <tr class="field">
      <td><%= "title:" %></td>
      <td><%= @place.title %></td>
    </tr>
    <tr class="field">
      <td><%= "description:" %></td>
      <td><%= @place.description %></td>
    </tr>
    <tr class="field">
      <td><%= "property_type:" %></td>
      <td><%= @place.property_type %></td>
    </tr>
    <tr class="field">
      <td><%= "room_type:" %></td>
      <td><%= @place.room_type %></td>
    </tr>
  </table>