<div class = "place-information">
  <iframe name = "image-frame" src = "<%= @place.photos.first.avatar.url %>" >
  </iframe> 

  <div class = "images">
    <% @place.photos.each do |photo| %>
      <a href = "<%= photo.avatar.url %>" target = "image-frame"><%= image_tag photo.avatar, :class => :small %></a>
    <% end %>
  </div>

  <ul>
    <li><a class = "place-info-list">Description</a></li>
    <div class = "place-details">
      <%= render 'description' %>
    </div>
    <li><a class = "place-info-list">Details</a></li>
    <div class = "place-details">
      <%= render :template =>'detail/show.html.erb' %>
    </div>
    <li><a class = "place-info-list">Rules</a></li>
    <div class = "place-details">
      <%= render :template => 'rule/show.html.erb' %>
    </div>
    <li><a class = "place-info-list">Price</a></li>
    <div class = "place-details">
      <%= render 'price' %>
    </div>
    <li><a class = "place-info-list">Address</a></li>
    <div class = "place-details">
      <%= render :template => 'address/show.html.erb' %>
    </div>
  </ul>

    <td>Average Ratings : <%= average_ratings() %></td> 
    <% if(session[:user_id] && session[:user_id] == @place.user_id) %>
      <td><%= link_to 'Edit', edit_place_path(@place.id) %></td>
    <% elsif session[:user_id] %>
      <td><%= button_to 'Request Place', deal_new_path(@place.id), :method => :get %></td> 
    <% end %>

  <div id = "place-reviews">
    <%= render 'reviews' %>
  </div>
</div>
<script type="text/javascript" src = "/assets/place.js"></script>