  <div id = "location-image">
    <%= gmaps({
      "map_options" => {"auto_zoom" => false, "zoom" => 10 },
      "markers"     => {"data" => @address_json }
    }) %>
  </div>
  
  <table>
    <tr class="field">
      <td><%= Address.human_attribute_name(:address_line1) %></td>
      <td><%= @address.address_line1 %></td>
    </tr>
    <tr class="field">
      <td><%= Address.human_attribute_name(:address_line2) %></td>
      <td><%= @address.address_line2 %></td>
    </tr>
    <tr class="field">
      <td><%= Address.human_attribute_name(:city) %></td>
      <td><%= @address.city %></td>
    </tr>
    <tr class="field">
      <td><%= Address.human_attribute_name(:state) %></td>
      <td><%= @address.state %></td>
    </tr>
    <tr class="field">
      <td><%= Address.human_attribute_name(:pincode) %></td>
      <td><%= @address.pincode %></td>
    </tr>
    <tr class="field">
      <td><%= Address.human_attribute_name(:country) %></td>
      <td><%= @address.country %></td>
    </tr>
  </table>