  <div id = "location-image">
    <%= gmaps({
      "map_options" => {"auto_zoom" => false, "zoom" => 10 },
      "markers"     => {"data" => @address_json }
    }) %>
  </div>
  
  <table>
    <tr class="field">
      <td><%= "Address Line 1:" %></td>
      <td><%= @address.address_line1 %></td>
    </tr>
    <tr class="field">
      <td><%= "Address Line 2:" %></td>
      <td><%= @address.address_line2 %></td>
    </tr>
    <tr class="field">
      <td><%= "City:" %></td>
      <td><%= @address.city %></td>
    </tr>
    <tr class="field">
      <td><%= "State:" %></td>
      <td><%= @address.state %></td>
    </tr>
    <tr class="field">
      <td><%= "Pin Code:" %></td>
      <td><%= @address.pincode %></td>
    </tr>
    <tr class="field">
      <td><%= "Country:" %></td>
      <td><%= @address.country %></td>
    </tr>
  </table>