
<div id = "new-deal">
  <%= form_for(@deal, :url => deals_path(params[:place_id])) do |form| %>
    <table>
      <tr class="field">
        <td><%= form.label :start_date %></td>
        <td><%= form.text_field :start_date, :readonly => true %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :end_date %></td>
        <td><%= form.text_field :end_date, :readonly => true %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :guests %></td>
        <td><%= form.select :guests, @no_guests %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :price %></td>
        <% if(@deal.price) %>
          <td>&#8377;<%= (@deal.price * 1.1).round(2) %></td>
        <% end %>
      </tr>
      <tr class="actions">
        <td></td>
        <td><%= form.submit 'Calculate Price' %></td>
        <td><%= form.submit 'Book Place', :data => {:confirm => "Are you sure want to make this deal?"} %></td>
      </tr>
    </table>
  <% end %>

  <% divisions = create_divisions(@deal) %>

  <% divisions.each do |msg| %>
    <%= msg %><br />
  <% end %>
</div>