      <table>
        <tr class="field">
          <td><%= Place.human_attribute_name(:title) %></td>
          <td><%= @place.title %></td>
        </tr>
        <tr class="field">
          <td><%= Place.human_attribute_name(:description) %></td>
          <td><%= @place.description %></td>
        </tr>
        <tr class="field">
          <td><%= Place.human_attribute_name(:property_type) %></td>
          <td><%= @place.property_type_string %></td>
        </tr>
        <tr class="field">
          <td><%= Place.human_attribute_name(:room_type) %></td>
          <td><%= @place.room_type_string %></td>
        </tr>
      </table>