<div id = "side">
  <table>
    <tr><td><a href = "#description"><%= t("description", :scope => [:places, :new]) %></a></td></tr>
  	<tr><td><a href = "#prices"><%= t("prices", :scope => [:places, :new]) %></a></td></tr>
  	<tr><td><a href = "#images"><%= t("images", :scope => [:places, :new]) %></a></td></tr>
  	<tr><td><a href = "#details"><%= t("details", :scope => [:places, :new]) %></a></td></tr>
  	<tr><td><a href = "#address"><%= t("address", :scope => [:places, :new]) %></a></td></tr>
  </table>

  <form id = "enter_tags">
    <p>Specify Tags:</p>
    <%= text_field_tag :tags_string %>
  </form>

    <div id = "show_tags">
      <% @place.tags_string.split(', ').each do |place_tag| %>
        <div class = "tag_name"><span><%= place_tag %></span><div><%= image_tag "close_icon.gif", :class => "tag_close_image"%></div></div>
      <% end %>
    </div>
</div>


