
<table>
  <tr class="field">
    <td><%= "daily:" %></td>
    <td><%= @place.daily_price %></td>
  </tr>
  <tr class="field">
    <td><%= "weekend:" %></td>
    <td><%= @place.weekend_price %></td>
  </tr>
  <tr class="field">
    <td><%= "weekly:" %></td>
    <td><%= @place.weekly_price %></td>
  </tr>
  <tr class="field">
    <td><%= "monthly:" %></td>
    <td><%= @place.monthly_price %></td>
  </tr>
  <tr class="field">
    <td><%= "add_guests:" %></td>
    <td><%= @place.additional_guests %></td>
  </tr>
  <tr class="field">
    <td><%= "add_price:" %></td>
    <td><%= @place.additional_price %></td>
  </tr>
</table>