
<div id = "showing_tags">
  <% @place.tags_string.split(', ').each do |place_tag| %>
    <div class = "tag_name"><span><%= place_tag %></span></div>
  <% end %>
</div>

<div class = "place-information">
  <iframe name = "image-frame" src = "<%= @place.photos.first.avatar.url(:large) %>" >
  </iframe> 

  <div class = "images">
    <% @place.photos.each do |photo| %>
      <a href = "<%= photo.avatar.url(:large) %>" target = "image-frame"><%= image_tag photo.avatar.url(:small), :class => :small %></a>
    <% end %>
  </div>

  <ul>
    <li><a class = "place-info-list"><%= t("description", :scope => [:places, :new]) %></a></li>
    <div class = "place-details">
      <%= render 'description' %>
    </div>
    <li><a class = "place-info-list"><%= t("details", :scope => [:places, :new]) %></a></li>
    <div class = "place-details">
      <%= render :template =>'details/show.html.erb' %>
    </div>
    <li><a class = "place-info-list"><%= t("rules", :scope => [:places, :new]) %></a></li>
    <div class = "place-details">
      <%= render :template => 'rules/show.html.erb' %>
    </div>
    <li><a class = "place-info-list"><%= t("price", :scope => [:places, :new]) %></a></li>
    <div class = "place-details">
      <%= render 'price' %>
    </div>
    <li><a class = "place-info-list"><%= t("address", :scope => [:places, :new]) %></a></li>
    <div class = "place-details">
      <%= render :template => 'addresses/show.html.erb' %>
    </div>
  </ul>

    <% if(session[:user_id] && session[:user_id] == @place.user_id) %>
      <td><%= link_to 'Edit', edit_place_path(@place.id) %></td>
    <% else %>
      <td><%= button_to 'Request Place', new_place_deal_path(@place.id), :method => :get %></td> 
    <% end %>

  <div id = "place-reviews">
    <%= render 'reviews' %>
  </div>
</div>