<!DOCTYPE html>
<html>
<head>
  <title>Tutubnb2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class = "<%= controller.controller_name %> main">
	<div class = "header">
    <table>
      <tr>
	      <% if session[:user_id].nil? %>
          <td class = "user_name" ><%= link_to t('.guest'), login_sessions_path  %></td>
          <td class = "for_guest" ><%= link_to t('.sign_up'), new_user_path %></td>
	        <td class = "for_guest" ><%= link_to t('.log_in'), login_sessions_path %></td>
          <td class = "for_guest" ><%= link_to t('.places'), root_url %></td>
        <% else %>
          <td class = "user_name" ><%= link_to session[:user_name], edit_user_path(session[:user_id])  %></td>
	        <td class = "for_user" ><%= link_to t('.log_out'), logout_sessions_path %></td>
          <td class = "for_user" ><%= link_to t('.places'), root_url %></td>
          <% if(session[:admin] and session[:admin] == true) %>
            <td class = "for_user" ><%= link_to 'Users', admin_users_path %></td>
            <td class = "for_user" ><%= link_to 'Deals', admin_deals_path %></td>
          <% end %>
        <% end %>
        <td class = "new_place" ><%= button_to t('.list_your_place'), new_place_path, :method => :get %></td>
        <td><%= link_to "हिन्दी", locale_sessions_path(:hi) %></td>
        <td><%= link_to "English", locale_sessions_path(:en) %></td> 
      </tr>
    </table>
  </div>

  <div class = "part">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, :id => key %>
    <% end %>
    <%= yield %>
    <%= yield :scripts %>
  </div>

</body>
</html>
