<!DOCTYPE html>
<html>
<head>
  <title>Tutubnb2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class = "<%= controller.controller_name %> main">
	<div class = "header">
    <table>
      <tr>
	      <td class = "for_user" ><%= link_to 'Sign Up', profile_signup_path %></td>
	      <td class = "for_user" ><%= link_to 'Log In', profile_login_path %></td>
	      <td class = "for_guest" ><%= link_to 'Log Out', profile_signup_path %></td>
        <td><%= button_to 'List your place' %></td>
      </tr>
    </table>
  </div>

  <div class = "part">
    <%= yield %>
  </div>

</body>
</html>
